{% extends "base.html" %}
{% block title %}Not found{% endblock %}
{% block container %}
<div id="container" class="row">
    <h1>Page Not Found</h1>
    <p>What you were looking for is just not there.
    <p><a href="{{ url_for('index') }}">go somewhere nice</a>
</div>
{% endblock %}