{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block container %}
<div id="titleArea" >
    <section class="row">
        <div class="ten columns">
            <h1 class>{{ article.title }}</h1>
            <div>
                <ul class="tags">
                    <li class="primary label"><a href="#">{{ article.tags }}</a></li>
                </ul>
            </div>
        </div>
        <div class="two columns">
            <div class="image circle">
                <img src="../../static/img/img_silence_demo.jpg" alt="userImage"/>
            </div>
        </div>
        <div class="stockItem">
            <div class="ten columns">
                <p class="uploadTime">bulbulpaulが{{ article.last_update.strftime('%Y/%m/%d %H:%M') }}に投稿</p>
            </div>
            <div class="two columns centering">
                <div class="medium success btn icon-left icon-star-empty">
                    <a href="#"><span>5</span></a>
                </div>
            </div>
        </div>
    </section>
</div>
<article class="row parsed-text">
    {{ article.html|safe}}
</article>
{% endblock %}