<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/gumby.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="../../static/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
<header class="navbar">
    <div class="row">
        <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
        <h1 class="four columns logo">
            <a href="/">
                <img src="../../static/img/logo.png" gumby-retina />
            </a>
        </h1>
        <ul class="eight columns">
            <li><a href="/drafts/new">新規作成</a></li>
            <li>
                <a href="http://digitalsurgeons.com">Documentation</a>
                <div class="dropdown">
                    <ul>
                        <li><a href="http://digitalsurgeons.com">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li>
                            <a href="#">I HAVE STUFF NESTED UNDER ME</a>
                            <div class="dropdown">
                                <ul>
                                    <li><a href="http://digitalsurgeons.com">nested</a></li>
                                    <li><a href="">nested</a></li>
                                    <li><a href="">nested</a></li>
                                    <li><a href="">nested</a></li>
                                    <li><a href="">nested</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Customize</a></li>
            <li class="field"><input class="search input" type="search" placeholder="Search" /></li>
        </ul>
    </div>
</header>
{% block container %}
{% endblock %}
<footer></footer>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<script src="../../static/js/main.js"></script>
<script src="../../static/js/plugins.js"></script>
{% block footer_script %}
{% endblock %}
</body>
</html>