{% extends "base.html" %}
{% block title %}Create Article{% endblock %}
{% block container %}
<div id="container" class="row">
    <section class="twelve columns row">
        <section class="six column">
            <form method="POST" action="/drafts/new">
                <h2>タイトル</h2>
                <div>
                    <input name="title" id="title" class="form-control" type="text"/>
                </div>
                <h3>タグ</h3>
                <div>
                    <input name="tag" id="tags" class="form-control" type="text"/>
                </div>
                <h3>本文</h3>
                <div>
                    <textarea name="text" id="doc" class="form-control" cols="60" rows="60"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section id="parseResult" class="six column parsed-text">
        </section>
    </section>
</div>
{% endblock %}

{% block footer_script %}
<script>
    // タイマー変数
    var timer;

    $('textarea').on('change paste input', function(){
        if(timer != null){
            clearTimeout(timer)
        }
        timer = setTimeout("perse()",500);
    });

    function perse(){
        var text = $('#doc').val();
        if (text.length > 0){
            $.post('/api/parse', {'text': text}, function(r){
                $('#parseResult').html(r);
            });
        }
    }

</script>
{% endblock %}