{% extends "base.html" %}
{% block title %}error{% endblock %}
{% block container %}
<div id="container" class="row">
    <h1>Thank you</h1>
    <p>We send registration email. Please check it.
    <p>
</div>
{% endblock %}