{% extends "base.html" %}
{% block title %}Petey-Signup{% endblock %}
{% block container %}
<div id="container" class="row">
    <div class="five columns centered">
        <form method="POST" action="/signup">
            <fieldset>
                <legend>Log in</legend>
                <ul>
                    <li class="field">
                        <label class="inline" for="user">UserName</label>
                        <input id="user" class="text input" name="user" type="text" placeholder="input your user name"/>
                    </li>
                    <li class="field">
                        <label class="inline" for="passwd">e-mail</label>
                        <input id="email" class="email input" name="email" type="email" placeholder="input your email"/>
                    </li>
                    <li class="field">
                        <label class="inline" for="passwd">Password</label>
                        <input id="passwd" class="password input" name="passwd" type="password" placeholder="input your password"/>
                    </li>
                    <li class="field">
                        <label class="inline" for="passwd">Password</label>
                        <input id="passwd_confirm" class="password input" name="confirm" type="password" placeholder="confirm your password"/>
                    </li>
                </ul>
                <div class="medium info btn">
                    <button id="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}