{% extends "base.html" %}
{% block title %}Petey-Signup{% endblock %}
{% block container %}
<div id="container" class="row">
    <section class="twelve columns row">
        <h1>Stock articles</h1>
        {% for article in articles %}
        <article class="stockItem row">
            <div class="one columns image circle">
                <img src="../../static/img/img_silence_demo.jpg" alt="userImage"/>
            </div>
            <div class="ten columns">
                <p class="uploadTime">bulbulpaulが{{ article.last_update.strftime('%Y/%m/%d %H:%M') }}に投稿</p>
                <div>
                    <h1 class="articleTitle"><a href="{{article.user_id}}/items/{{article.id}}">{{ article.title }}</a></h1>
                    <ul class="tags">
                        <li class="primary label"><a href="#">{{ article.tag }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="one columns">
                <p><i class="icon-star-empty"></i>5</p>
            </div>
        </article>
        {% endfor %}
    </section>
</div>
{% endblock %}