/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 11px;
    margin-bottom: 11px;
}
h6, .h6 {
    font-size: 12px;
}
a {
    color: #0a9b94;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#titleArea {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f4d7;
}
.uploadTime{
    height: 20px;
    margin-bottom: 5px;
}
.articleTitle{
    font-size: 25px;
    display: inline-block;
}
.tags{
    padding-left: 10px;
    display: inline-block;
}
.centering {
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #3c4a60;
    background-color: rgba(0,0,0,0.1);
    background-image: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-text-image-wrapper textarea {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}
/*　パース後のcss */
.parsed-text h1 {
    font-size: 200%;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin: 30px 0;
    margin-bottom: 10px;
}
.parsed-text h2 {
    font-size: 160%;
    margin: 30px 0;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
.parsed-text h3 {
    margin: 30px 0;
    margin-bottom: 10px;
    font-size: 130%;
    font-weight: bold;
}
.parsed-text h4 {
    font-size: 120%;
    font-weight: bold;
}
.parsed-text pre {
    border: none;
    background: #f6f6f6;
    padding: 20px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.markdown code {
    white-space: pre-wrap;
    background: #f6f6f6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.parsed-text>ul {
    margin: 20px 0;
}
.parsed-text li {
    margin: 10px 0;
}